.container{
    text-align: center;
    form{
        width: 30%;
        padding: 20px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 120px;;
        display: flex;
        flex-direction: column;
        text-align: right;
        color: rgb(235, 248, 254);
        background-color: rgba(91, 99, 104, 0.178);
        border-radius: 10px;
        input,textarea{
            margin:10px;
            padding:10px;
            color: rgb(197, 205, 209);
            border: none;
            border-radius: 10px;
            text-align: left;
        }
        input::placeholder,textarea::placeholder{
            color: rgba(235, 248, 254, 0.712);
            text-align: center;
        }
    
        button{
            float: right;
            background-color:  rgba(27, 51, 185, 0.616);
            color: rgb(235, 248, 254);
            padding: 12px;
            border-radius: 4px;
            text-decoration: none;
            border: none;
            cursor: pointer;
            margin: 20px 10px 0px;
            font-weight: bold;
            outline: none;
           }
           button:hover{
            background-color:  rgba(27, 51, 185, 0.781);
              color:rgb(255, 255, 255);
           }
    }
}

@media (max-width:700px){
    .container{
        text-align: center;
        form{
            width: 70%;
        }
    }
}

