.footer-div{
  width: 100%;
  bottom: 0;
  position: fixed;
  footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 5px;
      font-size: 12px;
      margin-left: 8px;
    }
    .button-container {
      float: right;
      margin: 5px;
      display: flex;
  
      &__button {
        margin: 5px;
        border: 1px solid rgb(167, 251, 183);
        padding: 5px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 4px;
        color: rgb(167, 251, 183);
        margin-right: 10px;
      }
    }
  }
  
}


.scroll-info{
  margin: 20px;
    text-align: center;
    position: relative;
    &__scroll-btn{
        background-color: transparent;
        border: 2px solid transparent;
        text-decoration: none;
        cursor: pointer;
        transform: rotate(45deg);
    }
    &__arrow-down{
        margin-top:10px;
        display: inline-block;
        border:solid rgb(167, 251, 183);
        border-width: 0px 8px 8px 0px;
        padding: 3px;
        animation: arrow 1s linear infinite;
    }
    
  }



@keyframes arrow{
   0% {
      transform: translateY(0px);
   }
   50%{
      transform: translateY(-20px) translateX(-20px);
   }
   100%{
      transform: translateY(0px); 
   }
}
