.page-container {
   height: 100%;
   background-color: #234347;
   overflow: hidden;
   color: #C8DBDE;
 }
 
 .layout{
   margin:30px;
 }
 .profileImage{
  width: 300px;
  height: 300px;
  border: 2px solid #fbfffc7c;
  border-radius: 300px;
  margin: 40px;
}
.profileImage:hover{
 box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.2);
  transform: rotate(360deg);

}

strong{
  font-size: 18px;
  color: rgba(27, 167, 97, 0.63);
  margin: 5px;
}
.white-text{
  color: #C8DBDE;
 }
 
.green-text{
  color: rgba(27, 167, 97, 0.63);
 margin-bottom:16px;
 font-weight: bold;
}
.download-cv-btn{
  background-color: rgba(34, 97, 145, 0);
  color: rgb(255, 255, 255);
  padding: 12px;
  height: fit-content;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: 3px solid rgba(27, 167, 97, 0.63);
  animation-name: scaleUpDown;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.see-projects-btn{
  background-color: rgba(6, 190, 67, 0);
  color: rgb(252, 252, 252);
  padding: 12px;
  margin-top:15px;
  height: fit-content;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: 3px solid rgba(27, 167, 97, 0.63);
  animation-name: scaleUpDown;
  animation-delay: 400ms;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.download-cv-btn:hover{
  background-color: rgba(35, 196, 129, 0.815);
  animation-duration: 000ms;
}
.see-projects-btn:hover{
  background-color: rgba(35, 196, 129, 0.815);
  animation-duration: 000ms;
}

 .green-btn{
  background-color: rgba(6, 190, 67, 0);
  color: rgb(252, 252, 252);
  padding: 12px;
  height: fit-content;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: 3px solid rgba(27, 167, 97, 0.63);
  
}
.green-btn:hover{
  background-color: rgba(35, 196, 129, 0.815);
}

.profile-container {
   border:2px solid rgba(15, 187, 101, 0);
   margin-top: 30px;
   text-align: center;  
}

 
 .home-greeting{
  text-align: center;
  width: auto;
  padding: 20px;
  
}

 a {
  color: ivory;
  margin-top: 30px;
  font-size: 16px;
  display: inline-block;
}

.flex-container{
 display: flex;
 flex-flow: wrap;
 justify-content: center;
 
}

.skills{
  display: flex;
  justify-content: center;
}

.card-view{
  display: inline-block;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: left;
  border-radius: 20px 20px;
  background-color: #1a3336a9;
}

.card-view:hover {
  box-shadow: 0 0 16px 16px rgba(0,0,0,0.2);
}

.skill-info{
  padding :5px;
}
.line{
  height: 3px;
  background-color: #dbe6e777;
  margin-bottom:20px;
}
.right-text{
  text-align: right;
  font-weight: bold;
  margin-right: 12px;
  color: rgb(14, 13, 13);
}

.project-cardview{
  flex-grow: 1;
  text-align: left;
  padding:5px;
  justify-content: center;

}
.project-item-div:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.image {
  width: 100%;
}


.image-container {
  display: inline-flex;
  width: 40%;
  margin: 50px;

}

.project-info{
  width: 40%;
  top:0;
  display: inline-block;
  margin-left: 10px;
  padding: 15px;
  text-align: left;
}
.project-title{
  color: white;
  font-size:18px;
}

.line-space{
  margin-top:50px;
  margin-bottom:50px;
  height: 3px;
  background-color: #dbe6e777;
  margin-bottom:20px;
}

.link{
  margin:5px;
  text-align: center;
}


.contact-div{
  text-align: center;
  padding: 32px;
  margin: 16px;
  margin-top: 42px;
  background-color: #1a3336cc;
  color: azure;
}

.title{
  margin-top:20px;
  font-size:24px;
  margin-bottom: -20px;
  text-align: center;
}

.follow-div{
  text-align: center;
  margin:20px;
  
}
.contactImage{
  width: 40px;
  height: 40px;
  margin: 10px;
  display: block;
  border-radius: 25px;
  
}
.contactImage:hover{
  box-shadow: 0px 0px 4px 4px rgba(228, 215, 215, 0.39);
}

.follow-btn{
  background-color: green;
}

@media only screen and (max-width: 400px) {
  .profileImage {
    width:60%;
    height: auto;
  }
  .card-view{
    margin-left: 10px;
    margin-right: 10px;
  }
  .image-container{
    width: 100%;
    height: auto;
  }
  .project-info{
    width:100%;
    margin-left: 4px;
    padding: 5px;
  }
  
}

@media only screen and (max-width: 600px) {
  .profileImage {
    width:60%;
    height: auto;
  }
  .card-view{
    margin-left: 20px;
    margin-right: 20px;
  }
  .image-container{
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  .project-info{
    width:100%;
    margin-left: 4px;
    padding: 5px;
  }
  
}

@media only screen and (max-width: 800px) {
  .profileImage {
    width:60%;
    height: auto;
  }
  .card-view{
    margin-left: 20px;
    margin-right: 20px;
  }
  .image-container{
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 30px;
  }
  .project-info{
    width:100%;
    margin-left: 4px;
    padding: 5px;
  }
  
}


@media only screen and (min-width: 1000px) {

  .card-view{
    margin-left: 70px;
    margin-right: 70px;
  }
  
}



