.page-container {
   height: 100%;
   background-color: #0c0c0c;
   overflow: hidden;
   color: rgb(148, 165, 158);
 }
 
 .layout{
   margin:30px;
 }
 .profileImage{
  width: 300px;
  height: 300px;
  border: 4px solid rgba(228, 215, 215, 0.26);
  border-radius: 300px;
  margin: 40px;
  box-shadow: 0px 0px 40px 40px rgba(221, 119, 119, 0.39);
}
.profileImage:hover{
 box-shadow: 0px 0px 50px 50px rgba(228, 215, 215, 0.39);
  transform: rotate(360deg);

}

strong{
  font-size: 24px;
  color: rgb(83, 173, 221);
  margin: 5px;
}
.large-text{
 color: rgb(255, 255, 255);
 margin-top: 16px;
 text-align: center;
}
.download-cv-btn{
  background-color: rgba(34, 97, 145, 0);
  color: rgb(252, 252, 252);
  padding: 12px;
  height: fit-content;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: 3px solid rgb(24, 126, 139);
  animation-name: scaleUpDown;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.see-projects-btn{
  background-color: rgba(6, 190, 67, 0);
  color: rgb(252, 252, 252);
  padding: 12px;
  height: fit-content;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: 3px solid rgba(27, 167, 97, 0.63);
  animation-name: scaleUpDown;
  animation-delay: 400ms;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.download-cv-btn:hover{
  background-color: rgb(24, 126, 139);
  animation-duration: 000ms;
}
.see-projects-btn:hover{
  background-color: rgba(35, 196, 129, 0.815);
  animation-duration: 000ms;
}

 .green-btn{
  background-color: rgba(6, 190, 67, 0);
  color: rgb(252, 252, 252);
  padding: 12px;
  height: fit-content;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: 3px solid rgba(27, 167, 97, 0.63);
  
}
.green-btn:hover{
  background-color: rgba(35, 196, 129, 0.815);
}

.blue-btn{
  background-color: rgba(34, 97, 145, 0);
  color: rgb(252, 252, 252);
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  border: 3px solid rgb(24, 126, 139);
  font-weight: bold;
}
.blue-btn:hover{
  background-color: rgb(24, 126, 139);
  animation-duration: 000ms;
}


.profile-container {
   border:2px solid rgba(15, 187, 101, 0);
   border-radius: 50px;
   text-align: center;
   margin-top: 30px;
   
}

 .cardView{
   display: inline-block;
   padding:4px;
   margin: 10px;
   background-color: rgb(216, 183, 183);
   border-radius: 10px;
   box-shadow:4px 8px solid green;
 }
 .white-text{
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(255, 255, 255);
  color: black;
 }
 .light-white-text{
  color: rgb(165, 148, 148);
}
 .address{
   color: rgb(12, 8, 228);
   font-size: 12px;
   bottom: 0;
 }
 .home-greeting{
  text-align: center;
  height: 100%;
  padding: 40px;
}

 
 a {
  color: ivory;
  margin-top: 30px;
  font-size: 16px;
  display: inline-block;
}

.flex-container{
 display: flex;
 flex-flow: wrap;
 justify-content: center;
 
}
.flex-item-div{
  position: relative;
 flex-grow: 1;
 flex: 0 1 calc(33% - 2.9em);
 height: auto;
 display: inline-block;
 text-align: left;
 margin: 20px;
 border-radius: 20px 20px;
 background-color: #1e201f;
}
.flex-item-div:hover{
  transform: scale(1.05);
}

.skill-info{
  padding :20px;
  display: inline-block;
}
.progress-bar{
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  background-color: ivory;
  border-radius: 0px 0px 20px 20px;
}

.filler{
  background: rgba(38, 173, 38, 0.842);
  height: 100%;
  border-radius: inherit;
  transition: width 2s ease-in-out;
}

.right-text{
  text-align: right;
  font-weight: bold;
  margin-right: 12px;
  color: rgb(245, 237, 237);
}


.myProjects{
  margin-top: 10%;
}
.project-item-div{
  position: relative;
  flex-grow: 1;
  flex:0 1 calc(30%);
  height: auto;
  display: inline-block;
  text-align: left;
  margin: 20px;
  border-radius: 20px 20px;
  background-color: #1e201f;

}
.project-item-div:hover{
  transform: scale(1.05);
}


.image {
  width: 100%;
  height:auto;
  border-radius: 20px 20px 0px 0px;
  
}


.image-container {
  display: inline-block;
  height: auto;
  margin-bottom: 180px;
}

.project-info{
  position: absolute;
  width: 100%;
  height: 180px;
  padding: 20px;
  bottom: 0;
  border-radius: 0px 0px 18px 18px;
  
  
}
.project-title{
  color: white;
  font-size:24px;
}

.link{
  margin:5px;
  text-align: center;
}


.contact-div{
  text-align: center;
  padding: 32px;
  margin: 16px;
  margin-top: 42px;
  background-color: rgba(1, 33, 46, 0.856);
  color: azure;
}

.title{
  margin-top:20px;
  font-size:24px;
  margin-bottom: -20px;
  text-align: center;
}

.follow-div{
  text-align: center;
  margin:20px;
  
}
.contactImage{
  width: 40px;
  height: 40px;
  margin: 10px;
  display: block;
  border-radius: 25px;
  
}
.contactImage:hover{
  box-shadow: 0px 0px 4px 4px rgba(228, 215, 215, 0.39);
}

.follow-btn{
  background-color: green;
}

@media only screen and (max-width: 700px) {
  .profileImage {
    width:60%;
    height: auto;
  }
  .flex-item-div{
    flex:100%;
  }

  .project-item-div{
    flex:100%;
  }
  
}

@media only screen and (max-width: 800px) {
  .profileImage {
    width:60%;
    height: auto;
  }
  .flex-item-div{
    flex:0 1(45%);
  }

  .project-item-div{
    flex:100%;
  }
  
}


@keyframes scaleUpDown {
  0%{
    transform:rotate(0.5deg) scale(1.0);
  }
  25%{
    transform:rotate(-0.5deg) scale(0.93);
   }
 50%{
  transform:rotate(0deg) scale(0.93);
 }
 75%{
  transform:rotate(0.5deg) scale(0.93);
 }
 100%{
  transform:rotate(-0.5deg) scale(1.0);
 }
}


